.hero-header {
  position: relative;

  &__cover ::slotted(img) {
    width: 100%;
  }

  &__title {
    position: absolute;
    color: var(--title-color);
    font-size: 5vw;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }
}