.hero-header {
  position: relative;
}

.hero-header__cover ::slotted(img) {
  width: 100%;
}

.hero-header__title {
  position: absolute;
  color: var(--title-color);
  font-size: 5rem;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}